{% extends 'base.html' %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2 mt-5">
            {% if cart_products %}
                <form method="POST" action="{% url 'seller:empty_cart' %}" class="mx-1 mx-md-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" value="Empty Cart" name="Add Product" class="btn btn-danger">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="row">
    <div class="text-center mb-5 mt-5"><h1>{{request.user.first_name}}'s Cart</h1></div>
        {% for product in cart_products %}
            <div class="col-4">
                <div class="card mb-5" style="width: 18rem;">
                    <img src="{{ MEDIA_ROOT }}{{product.image.url}}" class="card-img-top" alt="..." width="150" height="250">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name}}</h5>
                        <p class="card-text">Rs {{ product.price }}</p>
                        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#test{{product.id}}" >View</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="test{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{{ MEDIA_ROOT }}{{product.image.url}}" class="card-img-top" alt="..." width="150" height="250">
                                    <h4>{{ product.name}}</h4>
                                    <p>{{ product.description}}</p>
                                    <p>Category :{{ product.category }}</p>
                                    <h5 class="mt-2">Price: Rs {{ product.price}}</h5>
                                    <a href="{% url 'seller:remove_product' product.id %}" class="btn btn-danger mt-3">Remove From Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}        
    </div>
    {% if cart_products %}
        <div class="text-center">
            <button class="btn btn-warning btn-lg text">Proceed To CheckOut</button>
        </div>
    {% else %}
        <h5 class="text-center">Your Cart is Empty! Please add some products to CheckOut</h5>
    {% endif %}
</div>

{% endblock body %}