{% extends 'base.html' %}

{% block body %}
<a href="{% url 'seller:create_products' %}" class="btn btn-outline-primary m-3">Add Product</a>
<div class="container">

    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Filter
                </button>
                <a class="btn btn-secondary" href="{% url 'seller:seller_products' %}">Clear</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'seller:categorized_products' 'electrical appliances' %}">Electrical Appliances</a></li>
                  <li><a class="dropdown-item" href="{% url 'seller:categorized_products' 'clothes' %}">Clothes</a></li>
                  <li><a class="dropdown-item" href="{% url 'seller:categorized_products' 'footwares' %}">Footwares</a></li>
                  <li><a class="dropdown-item" href="{% url 'seller:categorized_products' 'home appliances' %}">Home Appliances</a></li>
                </ul>
              </div>
        </div>
    </div>

    <div class="row">
    <div class="text-center mb-5 mt-5"><h1>{{ category_name }}</h1></div>
        {% for product in all_products %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ MEDIA_ROOT }}{{product.image.url}}" class="card-img-top" alt="..." width="150" height="250">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name}}</h5>
                        <p class="card-text">Rs {{ product.price }}</p>
                        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#test{{product.id}}" >View</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="test{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="{{ MEDIA_ROOT }}{{product.image.url}}" class="card-img-top" alt="..." width="150" height="250">
                                    <h4>{{ product.name}}</h4>
                                    <p>{{ product.description}}</p>
                                    <p>Category :{{ product.category }}</p>
                                    <h5 class="mt-2">Price: Rs {{ product.price}}</h5>
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'seller:update_product' product.id %}" class="btn btn-outline-success m-2">Update</a>
                                    <a href="{% url 'seller:delete_product' product.id %}" class="btn btn-outline-danger m-2">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}        
    </div>
    
</div>

{% endblock body %}